<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_challengeBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,113},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_createBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,215},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_dailyBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,317},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_eventBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,419},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_featuredBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{133,23},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_gauntletsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{235,23},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_highscoreBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{337,23},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_listsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{103,125},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_mapBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{103,227},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_mapPacksBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{205,125},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_pathsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{103,329},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_savedBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{205,227},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_searchBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{307,125},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_versusBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{205,329},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_watchReplay_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{131,89}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{1,23},{131,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_weeklyBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{307,227},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_01_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{424,488},{32,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_02_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,54}</string>
                <key>spriteSourceSize</key>
                <string>{31,54}</string>
                <key>textureRect</key>
                <string>{{493,143},{31,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_03_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{470,408},{48,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_04_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,54}</string>
                <key>textureRect</key>
                <string>{{439,88},{63,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_05_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{307,400},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{470,457},{47,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{446,240},{61,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{429,143},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{316,453},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{439,21},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{69,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{307,329},{69,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{103,453},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{174,453},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{245,453},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_01_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{18,72}</string>
                <key>spriteSourceSize</key>
                <string>{38,72}</string>
                <key>textureRect</key>
                <string>{{452,353},{18,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_01_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,72}</string>
                <key>spriteSourceSize</key>
                <string>{15,72}</string>
                <key>textureRect</key>
                <string>{{452,372},{15,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_02_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{17,72}</string>
                <key>spriteSourceSize</key>
                <string>{43,72}</string>
                <key>textureRect</key>
                <string>{{507,21},{17,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_02_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{31,83}</string>
                <key>spriteSourceSize</key>
                <string>{37,83}</string>
                <key>textureRect</key>
                <string>{{377,329},{31,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{42,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,72}</string>
                <key>textureRect</key>
                <string>{{409,338},{42,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_03_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{36,90}</string>
                <key>spriteSourceSize</key>
                <string>{44,90}</string>
                <key>textureRect</key>
                <string>{{409,247},{36,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{25,76}</string>
                <key>spriteSourceSize</key>
                <string>{45,76}</string>
                <key>textureRect</key>
                <string>{{424,411},{25,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_04_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{22,87}</string>
                <key>spriteSourceSize</key>
                <string>{26,87}</string>
                <key>textureRect</key>
                <string>{{382,413},{22,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_05_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{26,68}</string>
                <key>spriteSourceSize</key>
                <string>{34,70}</string>
                <key>textureRect</key>
                <string>{{446,302},{26,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_05_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,74}</string>
                <key>spriteSourceSize</key>
                <string>{33,74}</string>
                <key>textureRect</key>
                <string>{{429,206},{33,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_06_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{23,72}</string>
                <key>spriteSourceSize</key>
                <string>{43,72}</string>
                <key>textureRect</key>
                <string>{{452,329},{23,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_06_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{18,88}</string>
                <key>spriteSourceSize</key>
                <string>{22,88}</string>
                <key>textureRect</key>
                <string>{{405,413},{18,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{213,21}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{199,21}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{215,1},{199,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,0}</string>
                <key>spriteSize</key>
                <string>{151,21}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{103,431},{151,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,1}</string>
                <key>spriteSize</key>
                <string>{121,19}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{409,125},{121,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,1}</string>
                <key>spriteSize</key>
                <string>{107,19}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{415,1},{107,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,1}</string>
                <key>spriteSize</key>
                <string>{73,19}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{450,411},{73,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,1}</string>
                <key>spriteSize</key>
                <string>{59,19}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{452,388},{59,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,2}</string>
                <key>spriteSize</key>
                <string>{23,17}</string>
                <key>spriteSourceSize</key>
                <string>{221,21}</string>
                <key>textureRect</key>
                <string>{{382,501},{23,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_GameSheet04.png</string>
            <key>size</key>
            <string>{525,525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8419b42e8e7e603baff0d119c6bde888:5ccb7c8efdee8e910630533ed45c3ad7:9f7a12832b5bd44135bd8d71ee27dfc5$</string>
            <key>textureFileName</key>
            <string>GJ_GameSheet04.png</string>
        </dict>
    </dict>
</plist>
