<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GJ_challengeBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{44,219},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_createBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{44,420},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_dailyBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1,621},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_eventBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1,822},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_featuredBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{264,40},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_gauntletsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{245,241},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_highscoreBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{245,442},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_listsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{465,40},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_mapBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{446,241},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_mapPacksBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{446,442},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_pathsBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{202,643},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_savedBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{403,643},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_searchBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{666,40},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_versusBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{647,241},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_watchReplay_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{262,178}</string>
                <key>spriteSourceSize</key>
                <string>{266,182}</string>
                <key>textureRect</key>
                <string>{{1,40},{262,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GJ_weeklyBtn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{647,442},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_01_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{940,150},{64,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_02_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,108}</string>
                <key>spriteSourceSize</key>
                <string>{62,108}</string>
                <key>textureRect</key>
                <string>{{771,774},{62,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_03_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,108}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{887,812},{96,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boost_04_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,108}</string>
                <key>spriteSourceSize</key>
                <string>{126,108}</string>
                <key>textureRect</key>
                <string>{{890,365},{126,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boost_05_shine_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,104}</string>
                <key>textureRect</key>
                <string>{{750,842},{128,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerDash2_boom2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{142,144}</string>
                <key>textureRect</key>
                <string>{{887,921},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{118,110}</string>
                <key>spriteSourceSize</key>
                <string>{142,144}</string>
                <key>textureRect</key>
                <string>{{890,492},{118,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{142,144}</string>
                <key>textureRect</key>
                <string>{{876,603},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{142,144}</string>
                <key>textureRect</key>
                <string>{{621,842},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{142,144}</string>
                <key>textureRect</key>
                <string>{{745,643},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{134,136}</string>
                <key>spriteSourceSize</key>
                <string>{142,144}</string>
                <key>textureRect</key>
                <string>{{486,844},{134,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,144}</string>
                <key>textureRect</key>
                <string>{{345,844},{140,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,144}</string>
                <key>textureRect</key>
                <string>{{202,844},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerDash2_boom2_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{140,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,144}</string>
                <key>textureRect</key>
                <string>{{604,643},{140,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_01_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{31,144}</string>
                <key>spriteSourceSize</key>
                <string>{75,144}</string>
                <key>textureRect</key>
                <string>{{855,837},{31,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_01_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,144}</string>
                <key>spriteSourceSize</key>
                <string>{30,144}</string>
                <key>textureRect</key>
                <string>{{967,215},{30,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_02_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{39,144}</string>
                <key>spriteSourceSize</key>
                <string>{85,144}</string>
                <key>textureRect</key>
                <string>{{880,772},{39,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_02_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{59,166}</string>
                <key>spriteSourceSize</key>
                <string>{73,166}</string>
                <key>textureRect</key>
                <string>{{604,782},{59,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_03_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{84,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{882,220},{84,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_03_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{72,179}</string>
                <key>spriteSourceSize</key>
                <string>{88,179}</string>
                <key>textureRect</key>
                <string>{{867,40},{72,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_04_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{48,152}</string>
                <key>spriteSourceSize</key>
                <string>{90,152}</string>
                <key>textureRect</key>
                <string>{{622,971},{48,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_04_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{41,174}</string>
                <key>spriteSourceSize</key>
                <string>{51,174}</string>
                <key>textureRect</key>
                <string>{{848,417},{41,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_05_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{51,135}</string>
                <key>spriteSourceSize</key>
                <string>{67,139}</string>
                <key>textureRect</key>
                <string>{{486,981},{51,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_05_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,148}</string>
                <key>spriteSourceSize</key>
                <string>{66,148}</string>
                <key>textureRect</key>
                <string>{{966,1},{66,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portalshine_06_back_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{45,144}</string>
                <key>spriteSourceSize</key>
                <string>{85,144}</string>
                <key>textureRect</key>
                <string>{{876,726},{45,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portalshine_06_front_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{33,175}</string>
                <key>spriteSourceSize</key>
                <string>{43,175}</string>
                <key>textureRect</key>
                <string>{{848,241},{33,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{424,38}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{424,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{396,42}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{1,219},{396,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,1}</string>
                <key>spriteSize</key>
                <string>{300,38}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{426,1},{300,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,2}</string>
                <key>spriteSize</key>
                <string>{238,38}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{727,1},{238,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,2}</string>
                <key>spriteSize</key>
                <string>{210,36}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{202,983},{210,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderDash_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-143,2}</string>
                <key>spriteSize</key>
                <string>{142,34}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{984,812},{142,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-158,2}</string>
                <key>spriteSize</key>
                <string>{118,34}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{998,215},{118,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderDash_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-196,3}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{442,42}</string>
                <key>textureRect</key>
                <string>{{413,983},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GJ_GameSheet04-hd.png</string>
            <key>size</key>
            <string>{1033,1033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8419b42e8e7e603baff0d119c6bde888:5ccb7c8efdee8e910630533ed45c3ad7:9f7a12832b5bd44135bd8d71ee27dfc5$</string>
            <key>textureFileName</key>
            <string>GJ_GameSheet04-hd.png</string>
        </dict>
    </dict>
</plist>
