<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chestPlatform_01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{156,32}</string>
                <key>spriteSourceSize</key>
                <string>{160,36}</string>
                <key>textureRect</key>
                <string>{{1028,66},{156,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chestSpecial_01_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{1492,66},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chestSpecial_02_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{1,68},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chestSpecial_03_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{114,68},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_03_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{227,68},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_04_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{340,68},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_05_price_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{453,68},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tier1label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{145,49}</string>
                <key>spriteSourceSize</key>
                <string>{153,57}</string>
                <key>textureRect</key>
                <string>{{1344,66},{145,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tier2label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{154,46}</string>
                <key>spriteSourceSize</key>
                <string>{162,50}</string>
                <key>textureRect</key>
                <string>{{1187,66},{154,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureRoomGround_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,64}</string>
                <key>spriteSourceSize</key>
                <string>{1024,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureRoomLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{616,62}</string>
                <key>spriteSourceSize</key>
                <string>{624,70}</string>
                <key>textureRect</key>
                <string>{{1028,1},{616,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureRoomSpiderweb_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{126,122}</string>
                <key>textureRect</key>
                <string>{{1647,1},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TreasureRoomSheet-hd.png</string>
            <key>size</key>
            <string>{1770,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d29fca4f36e3ffcf66e3550434357f5:305d3c00eda5dbdd488deb801eebd36c:480391e088a069426058b00f3e1970e0$</string>
            <key>textureFileName</key>
            <string>TreasureRoomSheet-hd.png</string>
        </dict>
    </dict>
</plist>
